$font-family: Inconsolata, Andale Mono, monospace;
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$c-off: hotpink;
$c-on: white;
$c-off-d: darken($c-off, 60%);

$corner: 5px;
$border: 2px;
$gutter: 4px;
$kb-ar: 1 / 6;
$kb-w: 800px;
$kb-h: $kb-ar * $kb-w;

* {
  box-sizing: border-box;
}

html,
body,
button,
select,
input {
  font-family: $font-family;
}

section {
  width: 95%;
  max-width: $kb-w;
  margin: 4rem auto;
  > * + * {
    margin-top: 2rem;
    @media (min-width: $kb-w) {
      margin-top: 4rem;
    }
  }
}

body {
  background: black;
  color: $c-on;
}

#arp {
  $n: 12;
  $w: calc(#{1 / ($n + 1) * 100%} - 0.5rem);
  > * {
    display: flex;
    margin: 0.5rem -0.25rem;
    &:before,
    > * {
      width: $w;
      margin: 0.125rem 0.25rem;
      display: block;
    }
    &:before {
      color: $c-on;
      text-align: center;
      text-transform: uppercase;
      display: flex;
      align-content: center;
      justify-content: center;
      flex-direction: column;
      border-radius: $corner;
      border: $border solid $c-on;
    }
  }
  button {
    border: 1px solid $c-off;
    height: 2rem;
    padding: 0;
    position: relative;
    &,
    &:focus {
      background: transparent;
    }
    &.state-1 {
      background: currentColor;
      &,
      &:focus {
        color: $c-off;
      }
    }
    &.state-2 {
      background: currentColor;
      &,
      &:focus {
        border: 1px solid $c-on;
        color: $c-on;
      }
    }
  }
  @for $i from 1 through $n {
    &.active-#{$i} button:nth-child(#{$i}) {
      box-shadow: 0px 0px 0px $border currentColor;
    }
  }
  #arp-0:before {
    content: "5";
  }
  #arp-1:before {
    content: "3";
  }
  #arp-2:before {
    content: "1";
  }
  #arp-3:before {
    content: "B";
  }
  #arp-3 {
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    border-top: $border solid $c-on;
  }
}

.kb {
  $count: 18;
  $w: 100% / $count;
  height: $kb-h * 0.7;
  @media (min-width: $kb-w) {
    height: $kb-h;
  }
  width: 100%;
  display: flex;

  > kbd {
    display: block;
    height: 100%;
    width: $w;
    position: relative;
    &.c1,
    &.c2 {
      // margin-left: $border * 4;
      box-sizing: initial;
    }
    &,
    &::before,
    &::after {
      box-sizing: border-box;
    }
    &::before {
      content: "";
      height: 100%;
      width: 80%;
      background: black;
      display: block;
      border: $border solid $c-off;
      border-radius: $corner;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) translateZ(0);
      transition: border-color 100ms ease-in-out;
    }
    &:not(.on)::before {
      border-color: $c-off-d;
    }
    &.active::before {
      border-color: $c-on;
    }
    &::after {
      content: "";
      position: absolute;
      border-radius: $corner * 0.5;
      width: 50%;
      left: calc(50% - 25%);
      height: $corner * 2;
      display: block;
      border: $border solid transparent;
      bottom: $corner;
    }
    &.arp-harm {
      &::after {
        border-color: $c-on;
      }
      &.high::after {
        background: $c-on;
      }
    }
    &.arp-harm {
      &::after {
        bottom: auto;
        top: $corner;
      }
    }
    &[class*="s"] {
      z-index: 9;
      width: $w * 0.8;
      margin: 0 $w * 0.8 * -0.5;
      $h: 60%;
      &::before {
        height: $h;
        background: repeating-linear-gradient(
            -45deg,
            transparent,
            transparent $border * 2,
            $c-off $border * 2,
            $c-off $border * 3
          ),
          black;
      }
      &:not(.on)::before {
        border-color: $c-off-d;
        background: repeating-linear-gradient(
            -45deg,
            transparent,
            transparent $border * 2,
            $c-off-d $border * 2,
            $c-off-d $border * 3
          ),
          black;
      }
      &.active::before {
        background: repeating-linear-gradient(
            -45deg,
            transparent,
            transparent $border * 2,
            $c-on $border * 2,
            $c-on $border * 3
          ),
          black;
      }
      &::after {
        bottom: calc(#{(100% - $h) * 0.5} + #{$corner});
      }
      &.arp-harm {
        &::after {
          top: calc(#{(100% - $h) * 0.5} + #{$corner});
        }
      }
    }
  }
}

.title-container {
  text-align: center;
}
#title {
  cursor: pointer;
  font-size: 1.5rem;
  text-align: center;
  padding: 0.5rem;
  display: inline-block;
  width: auto;
  &:hover {
    color: $c-off;
  }
}

input,
button {
  appearance: none;
  background: black;
  color: $c-off;
  padding: $gutter * 2 $gutter * 3;
  border: $border solid $c-off;
  border-radius: $corner;
  font-size: 0.8rem;
  @media (min-width: #{$kb-w}) {
    font-size: 1rem;
  }
  text-align: center;
  width: 100%;
  display: block;
  &:focus {
    outline: none;
  }
  user-select: none;
  cursor: pointer;
  &:focus {
    box-shadow: 0px 0px 0px 2px $c-off;
  }

  &.active {
    background-color: $c-on;
    border-color: $c-on;
    color: black;
  }
}

#tempo {
  display: inline-block;
  width: auto;
}
#options {
  overflow: hidden;
  max-height: 0;
  transition: max-height 250ms ease-in-out, padding 250ms ease-in-out;
  &.open {
    padding: $border 0;
    max-height: 408px + $border * 2;
    @media (min-width: $kb-w) {
      max-height: 340px + $border * 2;
    }
  }
  margin-top: 0;
  > div {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin: 0 -0.5rem;
    button {
      margin: 0.5rem;
    }
  }
  > div + div {
    margin-top: 1rem;
  }
  #root button {
    width: calc(25% - 1rem);
    @media (min-width: $kb-w) {
      width: calc(#{100% / 6} - 1rem);
    }
  }
  #mode button {
    width: calc(33.33% - 1rem);
  }
  .controls {
    button {
      margin: 0;
    }
    div + div {
      margin-left: 1rem;
    }
  }
}

#intervals {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  align-content: center;
  justify-content: center;
  button {
    width: 20%;
    @media (min-width: #{$kb-w}) {
      width: calc(#{1 / 7 * 100%} - 1rem);
    }
    position: relative;
    margin: 0.5rem;
    span:last-child {
      display: block;
      margin-top: 0.5rem;
      font-size: 0.8em;
      font-weight: bold;
    }
  }
}
