* {
  box-sizing: border-box;
}

:root {
  --color-black: oklch(0% 0 351.99);
  --color-white: oklch(100% 0 351.99);
  --color-white-bg: oklch(90% 0 351.99);
  --color-pink: oklch(72.83% 0.2557 355);
  --color-pink-bg: oklch(10% 0.2557 355);
  --size-border: 2px;
  --border-radius: 9999px;
}

html,
body,
button,
select,
input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

section {
  width: 95%;
  max-width: 800px;
  margin: 4rem auto;
}

section>*+* {
  margin-top: 2rem;
}

@media (min-width: 800px) {
  section>*+* {
    margin-top: 4rem;
  }
}

body {
  background: var(--color-black);
  color: var(--color-white);
}

#arp>* {
  display: flex;
  margin: 0.5rem -0.25rem;
}

#arp>*:before,
#arp>*>* {
  width: calc(7.6923076923% - 0.5rem);
  margin: 0.125rem 0.25rem;
  display: block;
}

#arp>*:before {
  align-content: center;
  border-radius: var(--border-radius);
  box-shadow: inset 0 0 0 var(--size-border) var(--color-white);
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
}

#arp button {
  --border-color: var(--color-pink);
  box-shadow: inset 0 0 0 var(--size-border) var(--border-color);
  height: 2rem;
  padding: 0;
  position: relative;
}

#arp button,
#arp button:focus-visible {
  background: transparent;
}

#arp button.state-1 {
  background: currentColor;
}

#arp button.state-1,
#arp button.state-1:focus-visible {
  color: var(--color-pink);
}

#arp button.state-2 {
  background: currentColor;
}

#arp button.state-2,
#arp button.state-2:focus-visible {
  --border-color: var(--color-white);
  color: var(--color-white);
}

#arp.active-1 button:nth-child(1),
#arp.active-2 button:nth-child(2),
#arp.active-3 button:nth-child(3),
#arp.active-4 button:nth-child(4),
#arp.active-5 button:nth-child(5),
#arp.active-6 button:nth-child(6),
#arp.active-7 button:nth-child(7),
#arp.active-8 button:nth-child(8),
#arp.active-9 button:nth-child(9),
#arp.active-10 button:nth-child(10),
#arp.active-11 button:nth-child(11),
#arp.active-12 button:nth-child(12) {
  box-shadow: 0px 0px 0px var(--size-border) currentColor;
}

#arp #arp-0:before {
  content: "5";
}

#arp #arp-1:before {
  content: "3";
}

#arp #arp-2:before {
  content: "1";
}

#arp #arp-3:before {
  content: "B";
}

#arp #arp-3 {
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  border-top: var(--size-border) solid var(--color-white);
}

.kb {
  height: 93.3333333333px;
  width: 100%;
  display: flex;
}

@media (min-width: 800px) {
  .kb {
    height: 133.3333333333px;
  }
}

.kb>kbd {
  display: block;
  height: 100%;
  width: 5.5555555556%;
  position: relative;
}

.kb>kbd.c1,
.kb>kbd.c2 {
  box-sizing: initial;
}

.kb>kbd,
.kb>kbd::before,
.kb>kbd::after {
  box-sizing: border-box;
}

.kb>kbd::before {
  --border-color: var(--color-pink);
  background: var(--color-black);
  border-radius: var(--border-radius);
  box-shadow: inset 0 0 0 var(--size-border) var(--border-color);
  content: "";
  display: block;
  height: 100%;
  left: 50%;
  position: absolute;
  top: 0%;
  transform: translate(-50%, 0%) translateZ(0);
  transition: box-shadow 100ms ease-in-out;
  width: 90%;

}

.kb>kbd.on::before {
  /* --border-color: var(--color-white); */
  background: var(--color-pink-bg);
}

.kb>kbd.active::before {
  --border-color: var(--color-white);
}

.kb>kbd::after {
  border-radius: 2.5px;
  bottom: 5px;
  box-shadow: inset 0 0 0 var(--size-border) var(--border-color, transparent);
  content: "";
  display: block;
  height: 10px;
  left: 25%;
  position: absolute;
  width: 50%;
}

.kb>kbd.arp-harm::after {
  --border-color: var(--color-white);
}

.kb>kbd.arp-harm.high::after {
  background: var(--color-white);
}

.kb>kbd.arp-harm::after {
  bottom: auto;
  top: 5px;
}

.kb>kbd:not(.on)::before {
  --border-color: var(--color-pink-bg);
}

.kb>kbd[class*=s] {
  z-index: 9;
  width: 4.4444444444%;
  margin: 0 -2.2222222222%;
}

.kb>kbd[class*=s]::before {
  height: 60%;
  /* background: repeating-linear-gradient(-45deg, transparent, transparent 4px, var(--color-pink) 4px, var(--color-pink) 6px), var(--color-black); */
}

.kb>kbd[class*=s]:not(.on)::before {
  /* background: repeating-linear-gradient(-45deg, transparent, transparent 4px, #36001b 4px, #36001b 6px), var(--color-black); */
}

.kb>kbd[class*=s].active::before {
  /* background: repeating-linear-gradient(-45deg, transparent, transparent 4px, var(--color-white) 4px, var(--color-white) 6px), var(--color-black); */
}

.kb>kbd[class*=s]::after {
  bottom: calc(20% + 5px);
}

.kb>kbd[class*=s].arp-harm::after {
  top: calc(20% + 5px);
}

.title-container {
  text-align: center;
}

#title {
  cursor: pointer;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: normal;
  text-align: center;
  padding: 0.5rem;
  width: auto;
}

#title:hover {
  color: var(--color-pink);
}

input,
button {
  --border-color: var(--color-pink);
  appearance: none;
  background: var(--color-black);
  border-radius: var(--border-radius);
  border: none;
  box-shadow: inset 0 0 0 var(--size-border) var(--border-color), 0px 0px 0px var(--size-border) var(--outer-shadow, transparent);
  color: var(--color-pink);
  cursor: pointer;
  display: block;
  font-size: 0.8rem;
  padding: 8px 12px;
  text-align: center;
  user-select: none;
  width: 100%;

}

input:hover,
button:hover {
  background: var(--color-pink-bg);

}

@media (min-width: 800px) {

  input,
  button {
    font-size: 1rem;
  }
}

input:focus-visible,
button:focus-visible {
  outline: none;
}

input:focus-visible,
button:focus-visible {
  --outer-shadow: var(--color-pink);
}

input.active,
button.active {
  --border-color: var(--color-white);
  background-color: var(--color-white);
  color: var(--color-black);
}

#tempo {
  display: inline-block;
  width: auto;
}

#options {
  overflow: hidden;
  max-height: 0;
  transition: max-height 250ms ease-in-out, padding 250ms ease-in-out;
  margin-top: 0;
}

#options.open {
  padding: var(--size-border) 0;
  max-height: 412px;
}

@media (min-width: 800px) {
  #options.open {
    max-height: 344px;
  }
}

#options>div {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin: 0 -0.5rem;
}

#options>div button {
  margin: 0.5rem;
}

#options>div+div {
  margin-top: 1rem;
}

#options #root button {
  width: calc(25% - 1rem);
}

@media (min-width: 800px) {
  #options #root button {
    width: calc(100%/6 - 1rem);
  }
}

#options #mode button {
  width: calc(33.33% - 1rem);
}

#options .controls button {
  margin: 0;
}

#options .controls div+div {
  margin-left: 1rem;
}

#intervals {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  align-content: center;
  justify-content: center;
}

#intervals button {
  width: 20%;
  position: relative;
  margin: 0.5rem;
}

@media (min-width: 800px) {
  #intervals button {
    width: calc(14.2857142857% - 1rem);
  }
}

#intervals button span:last-child {
  display: block;
  margin-top: 0.5rem;
  font-size: 0.8em;
  font-weight: bold;
}